In [1]:
predict_path = '../output/prediction_inceptionV3.csv'

In [23]:
import pandas as pd
import numpy as np

In [3]:
prediction = pd.read_csv(predict_path)

In [4]:
prediction.head()

            image  labradoodle  friedChicken
0  image_0972.jpg     0.011071      0.988929
1  image_0799.jpg     0.014187      0.985813
2  image_0597.jpg     0.045316      0.954684
3  image_0145.jpg     0.111360      0.888640
4  image_0667.jpg     0.032087      0.967913

In [6]:
prediction['predict_label'] = (prediction['friedChicken']>0.5).astype(int)

In [7]:
prediction.head()

            image  labradoodle  friedChicken  predict_label
0  image_0972.jpg     0.011071      0.988929              1
1  image_0799.jpg     0.014187      0.985813              1
2  image_0597.jpg     0.045316      0.954684              1
3  image_0145.jpg     0.111360      0.888640              1
4  image_0667.jpg     0.032087      0.967913              1

In [9]:
prediction = prediction.sort_values('image')

In [10]:
prediction.head()

              image  labradoodle  friedChicken  predict_label
199  image_0005.jpg     0.007512      0.992488              1
88   image_0006.jpg     0.019481      0.980519              1
97   image_0007.jpg     0.012787      0.987213              1
17   image_0019.jpg     0.005649      0.994351              1
160  image_0020.jpg     0.036775      0.963225              1

def map_index(r):
    return int(r['image'].split('_')[1].split('.')[0])

In [18]:
prediction['ind'] = prediction.apply(map_index, axis=1)

In [19]:
prediction.head()

              image  labradoodle  friedChicken  predict_label  ind
199  image_0005.jpg     0.007512      0.992488              1    5
88   image_0006.jpg     0.019481      0.980519              1    6
97   image_0007.jpg     0.012787      0.987213              1    7
17   image_0019.jpg     0.005649      0.994351              1   19
160  image_0020.jpg     0.036775      0.963225              1   20

In [20]:
prediction['true_label'] = (prediction['ind']<=1000).astype(int)

In [21]:
prediction.head()

              image  labradoodle  friedChicken  predict_label  ind  true_label
199  image_0005.jpg     0.007512      0.992488              1    5           1
88   image_0006.jpg     0.019481      0.980519              1    6           1
97   image_0007.jpg     0.012787      0.987213              1    7           1
17   image_0019.jpg     0.005649      0.994351              1   19           1
160  image_0020.jpg     0.036775      0.963225              1   20           1

In [25]:
prediction.shape

(400, 6)

In [29]:
accuracy = 1 - np.sum(np.abs(prediction['predict_label'] - prediction['true_label']))/400.0

In [30]:
accuracy

0.98999999999999999